<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Test</title>
        <link rel="stylesheet" href="/Users/carmen39/Desktop/webpack_4/src/client/styles/resets.scss">
        <link rel="stylesheet" href="/Users/carmen39/Desktop/webpack_4/src/client/styles/base.scss">
        <link rel="stylesheet" href="/Users/carmen39/Desktop/webpack_4/src/client/styles/header.scss">
        <link rel="stylesheet" href="/Users/carmen39/Desktop/webpack_4/src/client/styles/form.scss">
        <link rel="stylesheet" href="/Users/carmen39/Desktop/webpack_4/src/client/styles/footer.scss">
    </head>

    <body>

        <header>
            <h3>Udacity project</h3>
            <h1>New Article Evaluation<br> with Natural Language Processing</h1>
        </header>

        <main>
            <section>
                <form class="" onsubmit="return Client.handleSubmit(event)">
                    <legend>Below put in the URL for the article sentiment evaluation.</legend>
                    <input id="hyperlink" type="url" name="input" value="" placeholder="Use English webpage">
                    <input id="submit" type="submit" name="submit" value="Submit" onsubmit="return Client.handleSubmit(event)" onclick="return Client.handleSubmit(event)">
                </form>
            <div id="results">
                <strong>Analysis Results:</strong>
                    <table class="result">
                        <tr><td id="newURL" colspan="2">Submitted URL: www.google.com</td></tr>
                        <tr><td>Polarity</td><td id="newPo"></td></tr>
                        <tr><td>Positive</td><td id="newScore"></td></tr>
                    </table> 
            </div>
        </main>

        <footer>
            <a href="mailto:carmen39@gmail.com">@Carmen Chen</a>-Udacity FEND project
        </footer>
        <script type="text/javascript" src="../../../dist/main.js"></script>
    </body>
</html>
