<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Test</title>
        <link rel="stylesheet" href="/styles/resets.css">
        <link rel="stylesheet" href="/styles/base.css">
        <link rel="stylesheet" href="/styles/header.css">
        <link rel="stylesheet" href="/styles/form.css">
        <link rel="stylesheet" href="/styles/footer.css">
    </head>

    <body>

        <header>
            <h3>Udacity project</h3>
            <h1>New Article Evaluation<br> with Natural Language Processing</h1>
        </header>

        <main>
            <section>
                <form class="" onsubmit="return Client.performAction(event)">
                    <legend>Below put in the URL for the article sentiment evaluation.</legend>
                    <input id="hyperlink" type="text" name="input" value="" placeholder="Use English webpage">
                    <button id="submit" type="submit" name="submit" value="submit" onclick="return Client.performAction(event)" onsubmit="return Client.performAction(event)">Submit</button>
                </form>
            <div id="results">
                <strong>Analysis Results:</strong>
                    <table class="result">
                        <tr><td colspan="2">Submitted URL: www.google.com</td></tr>
                        <tr><td>Polarity</td><td id="newPo"></td></tr>
                        <tr><td>Positive</td><td id="newScore"></td></tr>
                    </table> 
            </div>
        </main>

        <footer>
            <a href="mailto:carmen39@gmail.com">@Carmen Chen</a>-Udacity FEND project
        </footer>
    </body>
</html>
